<!DOCTYPE HTML>

<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="./Content/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./Content/Home/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="./Content/Home/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="./Content/Home/js/move-top.js"></script>
    <script type="text/javascript" src="./Content/Home/js/easing.js"></script>
    <script type="text/javascript" src="./Content/Home/js/startstop-slider.js"></script>
    <script src="./Scripts/angular.js"></script>
    <script type="text/javascript" src="./App/Home.js"></script>
    <link href="./Content/Home/login.css" rel="stylesheet" />
</head>

<body ng-app="Home">
    <div class="wrap" ng-controller="HomeController">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p>
                        <span>Need help?</span> call us
                        <span class="number">1-22-3456789</span>
                    </p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li>
                            <a onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Đăng
                                ký</a>
                        </li>
                        <div id="id02" class="modal">

                            <div class="modal-content animate">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                                </div>

                                <div class="container">
                                    <label for="uname">
                                        <b>Username</b>
                                    </label>
                                    <input type="text" placeholder="Enter Username" name="uname" ng-model="_username1" required>

                                    <label for="psw">
                                        <b>Password</b>
                                    </label>
                                    <input type="password" placeholder="Enter Password" name="psw" required ng-model="_password1">

                                    <button type="submit" ng-click="register()">Đăng ký</button>

                                </div>

                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <span class="psw">Forgot <a href="#">password?</a></span>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Đăng
                                nhập</a>
                        </li>


                        <div id="id01" class="modal">

                            <div class="modal-content animate">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                </div>

                                <div class="container">
                                    <label for="uname">
                                        <b>Username</b>
                                    </label>
                                    <input type="text" placeholder="Enter Username" name="uname" ng-model="_username" required>

                                    <label for="psw">
                                        <b>Password</b>
                                    </label>
                                    <input type="password" placeholder="Enter Password" name="psw" required ng-model="_password">

                                    <button type="submit" ng-click="login()">Login</button>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember"> Remember me
                                    </label>
                                </div>

                                <div class="container" style="background-color:#f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                    <span class="psw">Forgot <a href="#">password?</a></span>
                                </div>
                            </div>
                        </div>

                        <script>
                            // Get the modal
                            var modal = document.getElementById('id01');

                            // When the user clicks anywhere outside of the modal, close it
                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        </script>
                        <li>
                            <a href="./ShoppingCart.html">Giỏ hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="" />
                    </a>
                </div>
                <script type="text/javascript">
                    function DropDown(el) {
                        this.dd = el;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function() {
                            var obj = this;

                            obj.dd.on('click', function(event) {
                                đ(this).toggleClass('active');
                                event.stopPropagation();
                            });
                        }
                    }

                    đ(function() {

                        var dd = new DropDown(đ('#dd'));

                        đ(document).click(function() {
                            // all dropdowns
                            đ('.wrapper-dropdown-2').removeClass('active');
                        });

                    });
                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="active">
                            <a href="../Index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="delivery.html">Delivery</a>
                        </li>
                        <li>
                            <a href="news.html">News</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_slide">
                <div class="header_bottom_left">
                    <div class="categories" ng-init="getAllCategory()">
                        <ul>
                            <h3>Hãng sản xuất</h3>
                            <li ng-repeat="item in categoryList">
                                <a ng-click="getIdCategory(item.id)">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header_bottom_right">
                    <div class="slider">
                        <div id="slider">
                            <div id="mover">
                                <div id="slide-1" class="slide">
                                    <div class="slider-img">
                                        <img src="https://images.fpt.shop/unsafe/fit-in/214x214/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/4/25/637864982144816513_iphone-13-pro-max-dd-2-128-256-512-1tb.jpg" />
                                    </div>
                                    <div class="slider-text">
                                        <img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/10/637904570189565718_F-H1_800x300.png" alt="learn more" />

                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="slide">
                                    <div class="slider-img">
                                        <img src="https://images.fpt.shop/unsafe/fit-in/214x214/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/4/18/637858702038881473_samsung-galaxy-s22-ultra-do-dd-2.jpg" />
                                    </div>
                                    <div class="slider-text">

                                        <img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/10/637904417812402821_H1_800x300.png" alt="learn more" />

                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <div class="slide">
                                    <div class="slider-img">
                                        <img src="https://images.fpt.shop/unsafe/fit-in/214x214/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/18/637649063877578070_nokia-c30-xanh-dd.jpg" />
                                    </div>
                                    <div class="slider-text">

                                        <img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/5/31/637896065712119939_F-H1_800x300.png" alt="learn more" />


                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="content_top">
                    <div class="heading">
                        <h3>Sản phẩm mới</h3>
                    </div>
                    <div class="see">
                        <p>
                            <a href="#">Xem tất cả sản phẩm</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group" ng-init="getHotProduct()">
                    <div class="grid_1_of_4 images_1_of_4" ng-repeat="item in productHotList">
                        <a ng-click="getIdProduct(item.id)">
                            <img src="{{item.image}}" alt="" />
                        </a>
                        <h2>{{item.name}}</h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p>
                                    <span class="rupees">đ{{item.cost.toLocaleString()}}</span>
                                </p>
                            </div>
                            <div class="add-cart">
                                <h4>
                                    <a ng-click="addCart(item)">Thêm giỏ hàng</a>
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Sản phẩm bán chạy</h3>
                    </div>
                    <div class="see">
                        <p>
                            <a href="#">Xem toàn bộ danh sách</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group" ng-init="getSaleProduct()">
                    <div class="grid_1_of_4 images_1_of_4" ng-repeat="item in productSaleList">
                        <a ng-click="getIdProduct(item.id)">
                            <img src="{{item.image}}" alt="" />
                        </a>
                        <h2>{{item.name}}</h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p>
                                    <span class="rupees">đ{{item.cost.toLocaleString()}}</span>
                                </p>
                            </div>
                            <div class="add-cart">
                                <h4>
                                    <a ng-click="addCart(item)">Thêm giỏ hàng</a>
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Danh sách sản phẩm</h3>
                    </div>
                    <div class="see">
                        <p>
                            <a href="#">Xem toàn bộ danh sách</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group" ng-init="getAllProduct()">
                    <div class="grid_1_of_4 images_1_of_4" ng-repeat="item in productList" style="width: 20%">
                        <a ng-click="getIdProduct(item.id)">
                            <img src="{{item.image}}" alt="" />
                        </a>
                        <h2>{{item.name}}</h2>
                        <div class="price-details">
                            <div class="price-number">
                                <p>
                                    <span class="rupees">đ{{item.cost.toLocaleString()}}</span>
                                </p>
                            </div>
                            <div class="add-cart">
                                <h4>
                                    <a ng-click="addCart(item)">Thêm giỏ hàng</a>
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Information</h4>
                        <ul>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Customer Service</a>
                            </li>
                            <li>
                                <a href="#">Advanced Search</a>
                            </li>
                            <li>
                                <a href="delivery.html">Orders and Returns</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Why buy from us</h4>
                        <ul>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="contact.html">Customer Service</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="contact.html">Site Map</a>
                            </li>
                            <li>
                                <a href="#">Search Terms</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>My account</h4>
                        <ul>
                            <li>
                                <a href="contact.html">Sign In</a>
                            </li>
                            <li>
                                <a href="index.html">View Cart</a>
                            </li>
                            <li>
                                <a href="#">My Wishlist</a>
                            </li>
                            <li>
                                <a href="#">Track My Order</a>
                            </li>
                            <li>
                                <a href="contact.html">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Contact</h4>
                        <ul>
                            <li>
                                <span>+91-123-456789</span>
                            </li>
                            <li>
                                <span>+00-123-000000</span>
                            </li>
                        </ul>
                        <div class="social-icons">
                            <h4>Follow Us</h4>
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="images/facebook.png" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="images/twitter.png" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="images/skype.png" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="images/dribbble.png" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="images/linkedin.png" alt="" />
                                    </a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            đ(document).ready(function() {
                đ().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
        </script>
        <a href="#" id="toTop">
            <span id="toTopHover"> </span>
        </a>
    </div>
</body>